<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
  </appSettings>
<connectionStrings>
  <add name="cn" connectionString="Data Source=.\sqlexpress;AttachDbFilename=F:\dbwefolloww.mdf;Integrated Security=True"/>
</connectionStrings>
    <system.web>
      <authentication mode="Forms">
        <forms name="abc" loginUrl="login.aspx"></forms>
      </authentication>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <location path="admin">
    <system.web>
      <authorization>
        <allow roles="A"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="company">
    <system.web>
      <authorization>
        <allow roles="C"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="emp">
    <system.web>
      <authorization>
        <allow roles="E"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
